/* Styling for the body */
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #febfbf,
    #feb6b6,
    #ffadad,
    #fea3a3,
    #fe9a9a,
    #ea8687,
    #cb6f70
  );
  background-repeat: no-repeat;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Styling for the container */
.container {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  margin: 17px auto 0;
  min-width: 737px;
  padding: 30px 20px;
  text-align: center;
  background-color: white;
  animation-name: up-down-up;
  animation-duration: 0.4s; /* How long the animation should last */
  animation-delay: 0.01s;
  animation-fill-mode: forwards; /* Animations stays on the last keyframe */
  min-height: 313px;
  opacity: 0.1;
}

@keyframes up-down-up {
  0% {
    opacity: 0.4;
    margin-top: -150px;
  }
  75% {
    opacity: 0.6;
    margin-top: 120px;
  }
  100% {
    opacity: 1;
  }
}

/* Styling for the h1 element */
#header {
  opacity: 0;

  margin-top: -15px;
  padding-bottom: 10px;
  font-size: 68px;
  font-weight: 900;
  line-height: 1.5;
  animation: fade-in 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  letter-spacing: 0.5px;
  font-family: "Playfair Display", serif;
  font-style: normal;
}

/* Styling for the completed paragraph */
#finishedCount {
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  margin: 0;
  padding-bottom: 30px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 22px;
}

/* Styling the input field */
#input {
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  height: 44px;
  width: 380px;
  border: solid black 1px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  outline: none;
  margin-right: 10px;
  padding-left: 10px;
  vertical-align: middle; /* Aligns the button with the input  */
}

/* Styling for the addBTN with text: "OK" */
#addBtn {
  opacity: 0;
  animation-name: fade-in;
  animation-delay: 0.7s;
  background-color: #ededed;
  animation-fill-mode: forwards;
  border: 1px solid black;
  height: 49px;
  width: 90px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  padding: 0;
  margin: 0;
  vertical-align: middle; /* Aligns the button with the input  */
}

#addBtn:hover {
  background-color: #e0e0e0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Styling for when the input is focused */
#input:focus {
  border: solid 2px blue;
}

/* Styling of the text when someone tried to enter an empty string */
#empty-input-text {
  display: none;
  opacity: 0;
  margin-top: 0;
  padding-bottom: 20px;
  height: 25px;
  color: red;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: x-large;
  text-indent: 5px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* The keyframes for blinking 3 times */
@keyframes blink-3 {
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Making the text bigger in the lists */
ul {
  padding: 0;
  margin: 0;
}

li {
  font-family: sans-serif;
  font-weight: bold;
  list-style: none;
  font-size: 36px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 15px;
}

li:hover {
  text-decoration: line-through;
}

.new-item {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0; /* Start with lower opacity */
    transform: translateY(20px);
  }
  100% {
    opacity: 1; /* End with full opacity */
    transform: translateY(0);
  }
}

.completed {
  text-decoration: line-through;
  color: #7c7c7c;
}

/* Styling the delete button */
.delete-btn {
  width: 50px;
  height: 50px;
  border: none;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}

.input-buttons-container {
  padding-bottom: 8px;
  color: #7c7c7c;
}
